{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h1> Site en construction</h1>

<p>ce site est auto-hebergé via un raspberry Pi 3.</p>
<br>
<p> Le back est géré depuis une API REST sous symfony <br> et le front à partir du framework React nativ </p>
{% endblock %}